.header {
	&__wrapper {
		padding: px-to-rem(16px) px-to-rem(16px) 0 px-to-rem(16px);
		position: relative;
		&-menu {
			height: 100vh;
			width: px-to-rem(240px);
			position: absolute;
			right: px-to-rem(-300px);
			top: 0;
			background-color: map-get($colors, white);
			padding: px-to-rem(78px) px-to-rem(21px) px-to-rem(124px)
				px-to-rem(24px);
			.navigation-menu {
				margin-bottom: px-to-rem(34px);
				.navigation {
					.navigation-item {
						.navigation-inner {
							padding: px-to-rem(24px) 0 0 px-to-rem(24px);
							li {
								display: flex;
								align-items: center;
								margin-bottom: px-to-rem(16px);
								&:last-child {
									margin-bottom: 0;
								}
							}

							.todo {
								&::before {
									content: "";
									background-image: url("data:image/svg+xml,%3Csvg width='14' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 3v12a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h1V1a1 1 0 1 1 2 0v1h2V1a1 1 0 1 1 2 0v1h2V1a1 1 0 0 1 2 0v1h1a1 1 0 0 1 1 1Zm-2 3H2v1h10V6Zm0 3H2v1h10V9Zm0 3H2v1h10v-1Z' fill='%23726CEE'/%3E%3C/svg%3E");
									background-repeat: no-repeat;
									height: px-to-rem(20px);
									width: px-to-rem(18px);
									margin-right: px-to-rem(15px);
								}
							}

							.calender {
								&::before {
									content: "";
									background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.667 8.667h-4v4h4v-4ZM11.334 0v1.333H4.667V0h-2v1.333h-1C.75 1.333 0 2.083 0 3v11.333C0 15.25.75 16 1.667 16h12.667C15.25 16 16 15.25 16 14.333V3c0-.917-.75-1.667-1.666-1.667h-1V0h-2Zm3 14.333H1.667V5.5h12.667v8.833Z' fill='%234BB1DA'/%3E%3C/svg%3E");
									background-repeat: no-repeat;
									height: px-to-rem(20px);
									width: px-to-rem(18px);
									margin-right: px-to-rem(15px);
								}
							}

							.reminders {
								&::before {
									content: "";
									background-image: url("data:image/svg+xml,%3Csvg width='13' height='17' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.408 13.916c-3.313 0-6-1.343-6-3 0-.612.371-1.18 1-1.654V7.916a5 5 0 0 1 3.041-4.6 2 2 0 0 1 3.507-1.664 2 2 0 0 1 .411 1.664 5.002 5.002 0 0 1 3.041 4.6v1.346c.629.474 1 1.042 1 1.654 0 1.657-2.687 3-6 3Zm0 1c.694 0 1.352-.066 1.984-.16.004.054.016.105.016.16a2 2 0 0 1-4 0c0-.055.012-.106.016-.16.633.094 1.29.16 1.984.16Z' fill='%23EDD556'/%3E%3C/svg%3E");
									background-repeat: no-repeat;
									height: px-to-rem(20px);
									width: px-to-rem(18px);
									margin-right: px-to-rem(15px);
								}
							}

							.planning {
								&::before {
									content: "";
									background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0Zm0 2.133a5.867 5.867 0 1 0 0 11.734A5.867 5.867 0 0 0 8 2.133ZM8 3.2a4.8 4.8 0 1 1 0 9.6 4.8 4.8 0 0 1 0-9.6Zm-.533 2.667a.533.533 0 0 0-.534.533v2.133c0 .295.24.534.534.534h3.2a.533.533 0 0 0 0-1.067H8V6.4a.533.533 0 0 0-.533-.533Z' fill='%238E4CB6'/%3E%3C/svg%3E");
									background-repeat: no-repeat;
									height: px-to-rem(20px);
									width: px-to-rem(18px);
									margin-right: px-to-rem(15px);
								}
							}
						}

						&.has-child {
							background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23686868' stroke-width='1.5' fill='none' d='m1 1 4 4 4-4'/%3E%3C/svg%3E");
							background-repeat: no-repeat;
							background-position-x: px-to-rem(90px);
							background-position-y: px-to-rem(8px);
							.navigation-inner {
								display: none;
							}

							&--active {
								background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23686868' stroke-width='1.5' fill='none' d='m1 5 4-4 4 4'/%3E%3C/svg%3E");
								.navigation-inner {
									display: block;
								}
							}
						}
					}

					li {
						margin-bottom: px-to-rem(16px);
						&:last-child() {
							margin-bottom: 0;
						}
					}
				}
			}

			a {
				display: block;
				font-size: px-to-rem(16px);
				line-height: px-to-rem(26px);
				font-weight: map-get($font-weights, medium);
			}

			.navigation-login {
				.login {
					margin-bottom: px-to-rem(16px);
				}

				.register {
					border: 1px solid map-get($colors, gray);
					padding: px-to-rem(13px) 0 px-to-rem(13px) 0;
					border-radius: px-to-rem(14px);
				}

				a {
					text-align: center;
				}
			}

			&.menu-active {
				transform: translateX(-300px);
			}
		}

		&-hamburger {
			position: absolute;
			width: px-to-rem(32px);
			height: px-to-rem(18px);
			z-index: 999;
			top: px-to-rem(16px);
			right: px-to-rem(16px);
			span {
				width: px-to-rem(32px);
				height: px-to-rem(3px);
				background-color: map-get($colors, black);
				display: block;
				&:nth-child(2) {
					margin-top: px-to-rem(6px);
					margin-bottom: px-to-rem(6px);
				}
			}

			&.open {
				span {
					&:nth-child(1) {
						opacity: 0;
					}

					&:nth-child(2) {
						-webkit-transform: rotate(45deg);
						-moz-transform: rotate(45deg);
						-o-transform: rotate(45deg);
						transform: rotate(45deg);
					}

					&:nth-child(3) {
						position: absolute;
						top: 9px;
						-webkit-transform: rotate(-45deg);
						-moz-transform: rotate(-45deg);
						-o-transform: rotate(-45deg);
						transform: rotate(-45deg);
					}
				}
			}
		}
	}
}
