.intro {
	padding: 0 px-to-rem(16px);
	&__heading {
		font-size: px-to-rem(36px);
		font-weight: map-get($font-weights, bold);
		line-height: px-to-rem(42px);
		letter-spacing: -0.5px;
		text-align: center;
		color: map-get($colors, black);
		margin-bottom: px-to-rem(16px);
	}

	&__description {
		font-size: px-to-rem(16px);
		font-weight: map-get($font-weights, medium);
		line-height: px-to-rem(26px);
		text-align: center;
		margin-bottom: px-to-rem(24px);
	}

	&__link {
		padding: px-to-rem(12px) 0 px-to-rem(10px) 0;
		background-color: map-get($colors, black);
		color: map-get($colors, white);
		font-size: px-to-rem(16px);
		font-weight: map-get($font-weights, bold);
		line-height: px-to-rem(26px);
		letter-spacing: -0.2222222238779068px;
		text-align: center;
		max-width: 135px;
		margin: 0 auto px-to-rem(48px) auto;
		border-radius: px-to-rem(15px);
	}

	&__logos {
		&-list {
			display: flex;
			column-gap: 28px;
			align-items: center;
		}
	}
}
